In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
import polars as pl

In [2]:
#  Import and read the input csv
MDp10k_df = pd.read_csv('../../Raw_Data/WHO_Medical_Doctors_per10k-data.csv')
MDp10k_df.head(5)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,NER,Niger,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.38,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
1,HWF_0001,"Medical doctors (per 10,000)",numeric,WPR,Western Pacific,Country,PNG,Papua New Guinea,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.61,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
2,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,CAF,Central African Republic,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.74,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
3,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,TCD,Chad,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.85,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
4,HWF_0001,"Medical doctors (per 10,000)",numeric,AFR,Africa,Country,GMB,Gambia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.90,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z

In [3]:
# Drop the population estimate column
MDp10k_df = MDp10k_df.drop(['IndicatorCode','ValueType','ParentLocationCode','ParentLocation','Location type','SpatialDimValueCode','Period type'], axis=1)
MDp10k_df = MDp10k_df.drop(['FactValueUoM','FactValueNumericLowPrefix','FactValueNumericLow','FactValueNumericHighPrefix','FactValueNumericHigh'], axis=1)
MDp10k_df = MDp10k_df.drop(['FactValueTranslationID','FactComments','Language','DateModified','IsLatestYear','Dim1 type','Dim1','Dim2','Dim3'], axis=1)
MDp10k_df = MDp10k_df.drop(['Dim1ValueCode','Dim2ValueCode','Dim3ValueCode','Dim2 type','Dim3 type','DataSource','FactValueNumericPrefix'], axis=1)
MDp10k_df = MDp10k_df.drop(['FactValueNumeric','DataSourceDimValueCode','Indicator'], axis=1)
MDp10k_df.rename(columns ={'Location':'Country', 'Period':'Year', 'Value':'MD per 10k'}, inplace = True)
MDp10k_df

                       Country  Year  MD per 10k
0                        Niger  2023        0.38
1             Papua New Guinea  2023        0.61
2     Central African Republic  2023        0.74
3                         Chad  2023        0.85
4                       Gambia  2023        0.90
...                        ...   ...         ...
3411         Republic of Korea  1990        8.12
3412                      Oman  1990        8.17
3413                   Türkiye  1990        9.04
3414                   Ecuador  1990        9.34
3415                    Mexico  1990        9.88

[3416 rows x 3 columns]

In [4]:
# Open the list of country name corrections
corrections_df = pd.read_csv('../../Clean_Data/master_country_list/country_name_corrections.csv')

# Convert the corrections dataframe to a dictionary.
correction_dict = dict(zip(corrections_df['wrong'], corrections_df['correct']))

In [5]:
# Apply the correction dictionary to fix the known errors
MDp10k_df['Country'] = MDp10k_df['Country'].replace(correction_dict)

In [6]:
# Open the master list of countries
countries_df = pd.read_csv('../../Clean_Data/master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], axis=1)

In [7]:
country_list = countries_df['country'].tolist()
#country_list

In [8]:
# Create a list of MDp10k countries
MDp10k_countries = MDp10k_df['Country'].tolist()
#MDp10k_countries

In [9]:
# clean the FS data based on the SS country list
no_match = []

for country in MDp10k_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [10]:
MDp10k_clean_df = MDp10k_df.drop(MDp10k_df[MDp10k_df['Country'].isin(no_match)].index.tolist())
MDp10k_clean_df

                       Country  Year  MD per 10k
0                        Niger  2023        0.38
1             Papua New Guinea  2023        0.61
2     Central African Republic  2023        0.74
3                         Chad  2023        0.85
4                       Gambia  2023        0.90
...                        ...   ...         ...
3411               South Korea  1990        8.12
3412                      Oman  1990        8.17
3413                   Türkiye  1990        9.04
3414                   Ecuador  1990        9.34
3415                    Mexico  1990        9.88

[3287 rows x 3 columns]

In [11]:
MDp10k_sorted_df = MDp10k_clean_df.sort_values(['Country','Year'], axis=0)

In [12]:
MDp10k_sorted_df.tail(40)

       Country  Year  MD per 10k
2376     Yemen  2004        3.05
1895     Yemen  2008        2.75
1772     Yemen  2009        2.75
1157     Yemen  2014        2.70
331      Yemen  2020        1.76
204      Yemen  2021        1.74
80       Yemen  2022        1.65
5        Yemen  2023        0.98
2311    Zambia  2004        1.32
2188    Zambia  2005        0.55
2088    Zambia  2006        0.54
1856    Zambia  2008        0.61
1726    Zambia  2009        0.59
1600    Zambia  2010        0.60
886     Zambia  2016        0.90
631     Zambia  2018        2.24
485     Zambia  2019        2.37
351     Zambia  2020        2.53
223     Zambia  2021        2.95
122     Zambia  2022        3.24
3360  Zimbabwe  1990        1.30
3065  Zimbabwe  1995        1.49
2700  Zimbabwe  2000        1.26
2318  Zimbabwe  2004        1.69
2195  Zimbabwe  2005        1.21
1731  Zimbabwe  2009        1.15
1606  Zimbabwe  2010        1.21
1485  Zimbabwe  2011        0.78
1367  Zimbabwe  2012        0.77
1252  Zimbabwe  2013        0.80
1133  Zimbabwe  2014        1.19
1020  Zimbabwe  2015        1.74
894   Zimbabwe  2016        1.72
753   Zimbabwe  2017        1.79
627   Zimbabwe  2018        2.01
461   Zimbabwe  2019        1.23
325   Zimbabwe  2020        1.28
200   Zimbabwe  2021        1.36
72    Zimbabwe  2022        1.27
7     Zimbabwe  2023        1.36

In [13]:
# Create a complete dataframe with all countries and all the years.

# Define variables to collect the details.
#data_countries = MDp10k_sorted_df['Country'].unique()
data_countries = country_list
years = list(range(1990, 2024))

# Create a helper DataFrame.
helper_df = pd.DataFrame({'Country':np.repeat(data_countries, len(years)), 'Year':np.tile(years, len(data_countries))})

# Merge the helper DataFrame with the original data to ensure the data range is complete.
complete_df = pd.merge(helper_df, MDp10k_sorted_df, on=['Country','Year'], how='left')

# Special processing - not normally needed
MD10k_countries_df = pd.DataFrame(data_countries, columns=['Country'])
MD10k_countries_df.to_csv('../../Clean_Data/Clean_CSV_Files/MD10k_countries.csv', index=False)

In [14]:
# Convert to wide format
wide_df = complete_df.pivot(index='Year', columns='Country', values='MD per 10k')

# Flatten the hierarchical columns and create 'Country_Series' style column names
wide_df.columns = [f'{col}_MD per 10k' for col in wide_df.columns]

# Reset the index, so 'Year' becomes a column again
wide_df.reset_index(inplace=True)

# Convert columns to numeric, coerce non-numeric values to NaN
for col in wide_df.columns[0:]:
    wide_df[col] = pd.to_numeric(wide_df[col], errors='coerce')

# Convert to Polars DataFrame
wide_pl_df = pl.from_pandas(wide_df)
    
wide_pl_df.head(5)

shape: (5, 192)
┌──────┬────────────┬────────────┬────────────────┬───┬────────────────────┬──────────────┬───────────┬─────────────┐
│ Year ┆ Albania_MD ┆ Algeria_MD ┆ Andorra_MD per ┆ … ┆ Vietnam_MD per 10k ┆ Yemen_MD per ┆ Zambia_MD ┆ Zimbabwe_MD │
│ ---  ┆ per 10k    ┆ per 10k    ┆ 10k            ┆   ┆ ---                ┆ 10k          ┆ per 10k   ┆ per 10k     │
│ i32  ┆ ---        ┆ ---        ┆ ---            ┆   ┆ f64                ┆ ---          ┆ ---       ┆ ---         │
│      ┆ f64        ┆ f64        ┆ f64            ┆   ┆                    ┆ f64          ┆ f64       ┆ f64         │
╞══════╪════════════╪════════════╪════════════════╪═══╪════════════════════╪══════════════╪═══════════╪═════════════╡
│ 1990 ┆ 13.78      ┆ null       ┆ null           ┆ … ┆ null               ┆ null         ┆ null      ┆ 1.3         │
│ 1991 ┆ 14.6       ┆ null       ┆ null           ┆ … ┆ null               ┆ null         ┆ null      ┆ null        │
│ 1992 ┆ 16.04      ┆ null       ┆ null           ┆ … ┆ null               ┆ null         ┆ null      ┆ null        │
│ 1993 ┆ 13.77      ┆ null       ┆ null           ┆ … ┆ null               ┆ null         ┆ null      ┆ null        │
│ 1994 ┆ 12.94      ┆ null       ┆ null           ┆ … ┆ null               ┆ null         ┆ null      ┆ null        │
└──────┴────────────┴────────────┴────────────────┴───┴────────────────────┴──────────────┴───────────┴─────────────┘

In [15]:
# Handle the missing data

wide_pl_df = wide_pl_df.interpolate()
wide_pl_df = wide_pl_df.fill_null(strategy='backward')
wide_pl_df = wide_pl_df.fill_null(strategy='forward')
wide_pl_df = wide_pl_df.fill_null(strategy='zero')

In [16]:
wide_pl_df.head(15)

shape: (15, 192)
┌────────┬───────────────┬───────────────┬───────────────┬───┬───────────────┬──────────────┬───────────┬──────────────┐
│ Year   ┆ Albania_MD    ┆ Algeria_MD    ┆ Andorra_MD    ┆ … ┆ Vietnam_MD    ┆ Yemen_MD per ┆ Zambia_MD ┆ Zimbabwe_MD  │
│ ---    ┆ per 10k       ┆ per 10k       ┆ per 10k       ┆   ┆ per 10k       ┆ 10k          ┆ per 10k   ┆ per 10k      │
│ f64    ┆ ---           ┆ ---           ┆ ---           ┆   ┆ ---           ┆ ---          ┆ ---       ┆ ---          │
│        ┆ f64           ┆ f64           ┆ f64           ┆   ┆ f64           ┆ f64          ┆ f64       ┆ f64          │
╞════════╪═══════════════╪═══════════════╪═══════════════╪═══╪═══════════════╪══════════════╪═══════════╪══════════════╡
│ 1990.0 ┆ 13.78         ┆ 11.14         ┆ 22.38         ┆ … ┆ 5.43          ┆ 2.13         ┆ 1.32      ┆ 1.3          │
│ 1991.0 ┆ 14.6          ┆ 11.14         ┆ 22.38         ┆ … ┆ 5.43          ┆ 2.13         ┆ 1.32      ┆ 1.338        │
│ 1992.0 ┆ 16.04         ┆ 11.14         ┆ 22.38         ┆ … ┆ 5.43          ┆ 2.13         ┆ 1.32      ┆ 1.376        │
│ 1993.0 ┆ 13.77         ┆ 11.14         ┆ 22.38         ┆ … ┆ 5.43          ┆ 2.13         ┆ 1.32      ┆ 1.414        │
│ 1994.0 ┆ 12.94         ┆ 11.14         ┆ 22.38         ┆ … ┆ 5.43          ┆ 2.13         ┆ 1.32      ┆ 1.452        │
│ …      ┆ …             ┆ …             ┆ …             ┆ … ┆ …             ┆ …            ┆ …         ┆ …            │
│ 2000.0 ┆ 13.66         ┆ 11.14         ┆ 25.57         ┆ … ┆ 5.43          ┆ 2.524286     ┆ 1.32      ┆ 1.26         │
│ 2001.0 ┆ 13.03         ┆ 11.14         ┆ 26.56         ┆ … ┆ 5.43          ┆ 2.655714     ┆ 1.32      ┆ 1.3675       │
│ 2002.0 ┆ 11.67         ┆ 11.14         ┆ 30.53         ┆ … ┆ 5.71          ┆ 2.787143     ┆ 1.32      ┆ 1.475        │
│ 2003.0 ┆ 11.86         ┆ 10.846667     ┆ 35.11         ┆ … ┆ 5.923333      ┆ 2.918571     ┆ 1.32      ┆ 1.5825       │
│ 2004.0 ┆ 11.94         ┆ 10.553333     ┆ 32.17         ┆ … ┆ 6.136667      ┆ 3.05         ┆ 1.32      ┆ 1.69         │
└────────┴───────────────┴───────────────┴───────────────┴───┴───────────────┴──────────────┴───────────┴──────────────┘

In [17]:
# Reformat the dataframe with the filled values...
# Convert the DataFrame back to pandas!!!
wide_df = wide_pl_df.to_pandas() 

# Now we can reshape it with pandas functionality
complete_df = wide_df.melt(id_vars='Year', value_vars=wide_df.columns[1:], var_name='Country', value_name='MD per 10k')

# Removing "_MD per 10k" from country names
complete_df['Country'] = complete_df['Country'].str.replace('_MD per 10k', '')

complete_df['Year'] = complete_df['Year'].astype(int)

# Creating 'Country_Year' column
complete_df['Country_Year'] = complete_df['Country'] + '_' + complete_df['Year'].astype(str)

complete_df = complete_df.loc[:, ['Country_Year', 'Country', 'Year', 'MD per 10k']]
#complete_df['Country_Year'] = complete_df['Country_Year'].astype("string")

In [18]:
complete_df

       Country_Year   Country  Year  MD per 10k
0      Albania_1990   Albania  1990       13.78
1      Albania_1991   Albania  1991       14.60
2      Albania_1992   Albania  1992       16.04
3      Albania_1993   Albania  1993       13.77
4      Albania_1994   Albania  1994       12.94
...             ...       ...   ...         ...
6489  Zimbabwe_2019  Zimbabwe  2019        1.23
6490  Zimbabwe_2020  Zimbabwe  2020        1.28
6491  Zimbabwe_2021  Zimbabwe  2021        1.36
6492  Zimbabwe_2022  Zimbabwe  2022        1.27
6493  Zimbabwe_2023  Zimbabwe  2023        1.36

[6494 rows x 4 columns]

In [19]:
complete_df.to_csv('../../Clean_Data/Clean_CSV_Files/MD_per_10k.csv', index=False, encoding="utf-8")