In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
import polars as pl

In [2]:
#  Import and read the input csv
NMp10k_df = pd.read_csv('../../Raw_Data/WHO_Nurses_midwifery_per10k-data.csv')
NMp10k_df.head(5)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,HWF_0006,"Nursing and midwifery personnel (per 10,000)",numeric,AFR,Africa,Country,TCD,Chad,Year,2023,...,NaN,NaN,NaN,NaN,NaN,1.67,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
1,HWF_0006,"Nursing and midwifery personnel (per 10,000)",numeric,WPR,Western Pacific,Country,LAO,Lao People's Democratic Republic,Year,2023,...,NaN,NaN,NaN,NaN,NaN,10.27,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
2,HWF_0006,"Nursing and midwifery personnel (per 10,000)",numeric,AFR,Africa,Country,CAF,Central African Republic,Year,2023,...,NaN,NaN,NaN,NaN,NaN,10.97,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
3,HWF_0006,"Nursing and midwifery personnel (per 10,000)",numeric,EUR,Europe,Country,BLR,Belarus,Year,2023,...,NaN,NaN,NaN,NaN,NaN,108.15,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z
4,HWF_0006,"Nursing and midwifery personnel (per 10,000)",numeric,AMR,Americas,Country,CAN,Canada,Year,2023,...,NaN,NaN,NaN,NaN,NaN,112.57,NaN,"NHWA data portal, December 2024 update https:/...",EN,2025-01-14T05:00:00.000Z

In [3]:
# Drop the population estimate column
NMp10k_df = NMp10k_df.drop(['IndicatorCode','ValueType','ParentLocationCode','ParentLocation','Location type','SpatialDimValueCode','Period type'], axis=1)
NMp10k_df = NMp10k_df.drop(['FactValueUoM','FactValueNumericLowPrefix','FactValueNumericLow','FactValueNumericHighPrefix','FactValueNumericHigh'], axis=1)
NMp10k_df = NMp10k_df.drop(['FactValueTranslationID','FactComments','Language','DateModified','IsLatestYear','Dim1 type','Dim1','Dim2','Dim3',], axis=1)
NMp10k_df = NMp10k_df.drop(['Dim1ValueCode','Dim2ValueCode','Dim3ValueCode','Dim2 type','Dim3 type','DataSource','FactValueNumericPrefix'], axis=1)
NMp10k_df = NMp10k_df.drop(['FactValueNumeric','DataSourceDimValueCode','Indicator'], axis=1)
NMp10k_df.rename(columns ={'Location':'Country', 'Period':'Year', 'Value':'RN/Midwife per 10k'}, inplace = True)
NMp10k_df

                               Country  Year  RN/Midwife per 10k
0                                 Chad  2023                1.67
1     Lao People's Democratic Republic  2023               10.27
2             Central African Republic  2023               10.97
3                              Belarus  2023              108.15
4                               Canada  2023              112.57
...                                ...   ...                 ...
3409                      Turkmenistan  1990               82.17
3410                           Estonia  1990               87.95
3411                            Brazil  1990                9.49
3412                       New Zealand  1990               92.01
3413                        Kazakhstan  1990               95.99

[3414 rows x 3 columns]

In [4]:
# Open the list of country name corrections
corrections_df = pd.read_csv('../../Clean_Data/master_country_list/country_name_corrections.csv')

# Convert the corrections dataframe to a dictionary.
correction_dict = dict(zip(corrections_df['wrong'], corrections_df['correct']))

In [5]:
# Apply the correction dictionary to fix the known errors
NMp10k_df['Country'] = NMp10k_df['Country'].replace(correction_dict)

In [6]:
# Open the master list of countries
countries_df = pd.read_csv('../../Clean_Data/master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], axis=1)

In [7]:
country_list = countries_df['country'].tolist()
#country_list

In [8]:
# Create a list of MDp10k countries
NMp10k_countries = NMp10k_df['Country'].tolist()
#NMp10k_countries

In [9]:
# clean the FS data based on the SS country list
no_match = []

for country in NMp10k_countries:
    if country in country_list:
        continue
    else:
        no_match.append(country)

In [10]:
NMp10k_clean_df = NMp10k_df.drop(NMp10k_df[NMp10k_df['Country'].isin(no_match)].index.tolist())
NMp10k_clean_df

                       Country  Year  RN/Midwife per 10k
0                         Chad  2023                1.67
1                         Laos  2023               10.27
2     Central African Republic  2023               10.97
3                      Belarus  2023              108.15
4                       Canada  2023              112.57
...                        ...   ...                 ...
3409              Turkmenistan  1990               82.17
3410                   Estonia  1990               87.95
3411                    Brazil  1990                9.49
3412               New Zealand  1990               92.01
3413                Kazakhstan  1990               95.99

[3273 rows x 3 columns]

In [11]:
NMp10k_sorted_df = NMp10k_clean_df.sort_values(['Country','Year'], axis=0)

In [12]:
NMp10k_sorted_df.tail(40)

       Country  Year  RN/Midwife per 10k
1086   Vietnam  2015              14.210
943    Vietnam  2016              14.410
3043     Yemen  1997               3.710
2490     Yemen  2004               6.220
1807     Yemen  2010               6.200
1469     Yemen  2013               7.420
1333     Yemen  2014               7.510
1159     Yemen  2015               6.160
1023     Yemen  2016               6.330
874      Yemen  2017               6.460
718      Yemen  2018               6.570
388      Yemen  2020               4.910
284      Yemen  2021               6.110
165      Yemen  2022               6.870
44       Yemen  2023               5.410
2379    Zambia  2005               7.140
2269    Zambia  2006               6.900
2060    Zambia  2008               6.980
1946    Zambia  2009               7.040
1820    Zambia  2010               7.110
907     Zambia  2017               9.000
605     Zambia  2018              12.730
473     Zambia  2019              14.180
343     Zambia  2020              16.260
232     Zambia  2021              18.510
123     Zambia  2022              29.360
3383  Zimbabwe  1990              14.960
3150  Zimbabwe  1995              15.870
1965  Zimbabwe  2009               9.050
1822  Zimbabwe  2010               7.880
1623  Zimbabwe  2011              12.520
1507  Zimbabwe  2012              11.240
1376  Zimbabwe  2013              13.360
1236  Zimbabwe  2014              14.700
1084  Zimbabwe  2015              13.260
940   Zimbabwe  2016              13.450
816   Zimbabwe  2017              24.960
627   Zimbabwe  2018              18.540
357   Zimbabwe  2020              20.289
126   Zimbabwe  2022              30.710

In [13]:
# Create a complete dataframe with all countries and all the years.

# Define variables to collect the details.
#data_countries = MDp10k_sorted_df['Country'].unique()
data_countries = country_list
years = list(range(1990, 2024))

# Create a helper DataFrame.
helper_df = pd.DataFrame({'Country':np.repeat(data_countries, len(years)), 'Year':np.tile(years, len(data_countries))})

# Merge the helper DataFrame with the original data to ensure the data range is complete.
complete_df = pd.merge(helper_df, NMp10k_sorted_df, on=['Country','Year'], how='left')

# Special processing - not normally needed.
NM10k_countries_df = pd.DataFrame(data_countries, columns=['Country'])
NM10k_countries_df.to_csv('../../Clean_Data/Clean_CSV_Files/NM10k_countries.csv', index=False)

In [14]:
# Convert to wide format
wide_df = complete_df.pivot(index='Year', columns='Country', values='RN/Midwife per 10k')

# Flatten the hierarchical columns and create 'Country_Series' style column names
wide_df.columns = [f'{col}_RN/Midwife per 10k' for col in wide_df.columns]

# Reset the index, so 'Year' becomes a column again
wide_df.reset_index(inplace=True)

# Convert columns to numeric, coerce non-numeric values to NaN
for col in wide_df.columns[0:]:
    wide_df[col] = pd.to_numeric(wide_df[col], errors='coerce')

# Convert to Polars DataFrame
wide_pl_df = pl.from_pandas(wide_df)
    
wide_pl_df.head(5)

shape: (5, 192)
┌──────┬───────────────┬───────────────┬───────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ Year ┆ Albania_RN/Mi ┆ Algeria_RN/Mi ┆ Andorra_RN/Mi ┆ … ┆ Vietnam_RN/M ┆ Yemen_RN/Mid ┆ Zambia_RN/Mi ┆ Zimbabwe_RN/ │
│ ---  ┆ dwife per 10k ┆ dwife per 10k ┆ dwife per 10k ┆   ┆ idwife per   ┆ wife per 10k ┆ dwife per    ┆ Midwife per  │
│ i32  ┆ ---           ┆ ---           ┆ ---           ┆   ┆ 10k          ┆ ---          ┆ 10k          ┆ 10k          │
│      ┆ f64           ┆ f64           ┆ f64           ┆   ┆ ---          ┆ f64          ┆ ---          ┆ ---          │
│      ┆               ┆               ┆               ┆   ┆ f64          ┆              ┆ f64          ┆ f64          │
╞══════╪═══════════════╪═══════════════╪═══════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 1990 ┆ 45.1          ┆ null          ┆ null          ┆ … ┆ null         ┆ null         ┆ null         ┆ 14.96        │
│ 1991 ┆ null          ┆ null          ┆ null          ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 1992 ┆ null          ┆ null          ┆ null          ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 1993 ┆ 48.24         ┆ null          ┆ null          ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 1994 ┆ 49.58         ┆ null          ┆ null          ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
└──────┴───────────────┴───────────────┴───────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [15]:
# Handle the missing data

wide_pl_df = wide_pl_df.interpolate()
wide_pl_df = wide_pl_df.fill_null(strategy='backward')
wide_pl_df = wide_pl_df.fill_null(strategy='forward')
wide_pl_df = wide_pl_df.fill_null(strategy='zero')

In [16]:
wide_pl_df.head(15)

shape: (15, 192)
┌────────┬───────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ Year   ┆ Albania_RN/Mi ┆ Algeria_RN/M ┆ Andorra_RN/M ┆ … ┆ Vietnam_RN/M ┆ Yemen_RN/Mid ┆ Zambia_RN/Mi ┆ Zimbabwe_RN/ │
│ ---    ┆ dwife per 10k ┆ idwife per   ┆ idwife per   ┆   ┆ idwife per   ┆ wife per 10k ┆ dwife per    ┆ Midwife per  │
│ f64    ┆ ---           ┆ 10k          ┆ 10k          ┆   ┆ 10k          ┆ ---          ┆ 10k          ┆ 10k          │
│        ┆ f64           ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ ---          │
│        ┆               ┆ f64          ┆ f64          ┆   ┆ f64          ┆              ┆ f64          ┆ f64          │
╞════════╪═══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 1990.0 ┆ 45.1          ┆ 21.97        ┆ 24.57        ┆ … ┆ 7.59         ┆ 3.71         ┆ 7.14         ┆ 14.96        │
│ 1991.0 ┆ 46.146667     ┆ 21.97        ┆ 24.57        ┆ … ┆ 7.59         ┆ 3.71         ┆ 7.14         ┆ 15.142       │
│ 1992.0 ┆ 47.193333     ┆ 21.97        ┆ 24.57        ┆ … ┆ 7.59         ┆ 3.71         ┆ 7.14         ┆ 15.324       │
│ 1993.0 ┆ 48.24         ┆ 21.97        ┆ 24.57        ┆ … ┆ 7.59         ┆ 3.71         ┆ 7.14         ┆ 15.506       │
│ 1994.0 ┆ 49.58         ┆ 21.97        ┆ 24.57        ┆ … ┆ 7.59         ┆ 3.71         ┆ 7.14         ┆ 15.688       │
│ …      ┆ …             ┆ …            ┆ …            ┆ … ┆ …            ┆ …            ┆ …            ┆ …            │
│ 2000.0 ┆ 39.7          ┆ 21.97        ┆ 33.03        ┆ … ┆ 7.59         ┆ 4.785714     ┆ 7.14         ┆ 13.434286    │
│ 2001.0 ┆ 38.1          ┆ 21.97        ┆ 32.47        ┆ … ┆ 7.59         ┆ 5.144286     ┆ 7.14         ┆ 12.947143    │
│ 2002.0 ┆ 36.6          ┆ 21.97        ┆ 32.93        ┆ … ┆ 7.85         ┆ 5.502857     ┆ 7.14         ┆ 12.46        │
│ 2003.0 ┆ 36.04         ┆ 21.432       ┆ 30.94        ┆ … ┆ 8.096667     ┆ 5.861429     ┆ 7.14         ┆ 11.972857    │
│ 2004.0 ┆ 35.94         ┆ 20.894       ┆ 29.88        ┆ … ┆ 8.343333     ┆ 6.22         ┆ 7.14         ┆ 11.485714    │
└────────┴───────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [17]:
# Reformat the dataframe with the filled values...
# Convert the DataFrame back to pandas!!!
wide_df = wide_pl_df.to_pandas() 

# Now we can reshape it with pandas functionality
complete_df = wide_df.melt(id_vars='Year', value_vars=wide_df.columns[1:], var_name='Country', value_name='RN/Midwife per 10k')

# Removing "_MD per 10k" from country names
complete_df['Country'] = complete_df['Country'].str.replace('_RN/Midwife per 10k', '')

complete_df['Year'] = complete_df['Year'].astype(int)

# Creating 'Country_Year' column
complete_df['Country_Year'] = complete_df['Country'].astype(str) + '_' + complete_df['Year'].astype(str)

complete_df = complete_df.loc[:, ['Country_Year', 'Country', 'Year', 'RN/Midwife per 10k']]
#complete_df['Country_Year'] = complete_df['Country_Year'].astype(str)

In [18]:
complete_df

       Country_Year   Country  Year  RN/Midwife per 10k
0      Albania_1990   Albania  1990           45.100000
1      Albania_1991   Albania  1991           46.146667
2      Albania_1992   Albania  1992           47.193333
3      Albania_1993   Albania  1993           48.240000
4      Albania_1994   Albania  1994           49.580000
...             ...       ...   ...                 ...
6489  Zimbabwe_2019  Zimbabwe  2019           19.414500
6490  Zimbabwe_2020  Zimbabwe  2020           20.289000
6491  Zimbabwe_2021  Zimbabwe  2021           25.499500
6492  Zimbabwe_2022  Zimbabwe  2022           30.710000
6493  Zimbabwe_2023  Zimbabwe  2023           30.710000

[6494 rows x 4 columns]

In [19]:
complete_df.to_csv('../../Clean_Data/Clean_CSV_Files/RN-Midwife_per_10k.csv', index=False, encoding="utf-8")