In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
import polars as pl
import re

In [2]:
#  Import and read the input csv
wbdi_df = pd.read_csv('../../Raw_Data/World_Bank-world_development_indicators_extract-1990_2022.csv')
wbdi_df.head(5)

,Country,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,68.0408782958984,89.5,71.5,97.7,97.7,93.4308776855469,97.7,97.7,97.7,..
1,Afghanistan,AFG,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,327,327,327,327,327,327,...,327,327,327,327,327,327,327,327,..,..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841891,14.8313194,15.53361392,16.82606226,..
3,Afghanistan,AFG,"Current health expenditure per capita, PPP (cu...",SH.XPD.CHEX.PP.CD,..,..,..,..,..,..,...,178.07901916923,202.261555308607,215.725233301209,239.188747458965,264.543988949921,299.822543673828,321.525376737099,322.525614744969,..,..
4,Afghanistan,AFG,Domestic general government health expenditure...,SH.XPD.GHED.GD.ZS,..,..,..,..,..,..,...,0.44335932,0.47265697,0.52267277,0.60012972,0.64313394,0.55239552,0.49705607,1.18621242,0.55571794,..

In [3]:
# Drop the extra columns
wbdi_df = wbdi_df.drop(['Country Code','Series Code'], axis=1)

In [4]:
wbdi_df.head(5)

,Country,Series Name,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,Access to electricity (% of population),..,..,..,..,..,..,..,..,...,68.0408782958984,89.5,71.5,97.7,97.7,93.4308776855469,97.7,97.7,97.7,..
1,Afghanistan,Average precipitation in depth (mm per year),327,327,327,327,327,327,327,327,...,327,327,327,327,327,327,327,327,..,..
2,Afghanistan,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841891,14.8313194,15.53361392,16.82606226,..
3,Afghanistan,"Current health expenditure per capita, PPP (cu...",..,..,..,..,..,..,..,..,...,178.07901916923,202.261555308607,215.725233301209,239.188747458965,264.543988949921,299.822543673828,321.525376737099,322.525614744969,..,..
4,Afghanistan,Domestic general government health expenditure...,..,..,..,..,..,..,..,..,...,0.44335932,0.47265697,0.52267277,0.60012972,0.64313394,0.55239552,0.49705607,1.18621242,0.55571794,..

In [5]:
pattern = r'\[.*\]'

# Remove the bracketed year info from the column names
wbdi_df.columns=[re.sub(pattern,'',col)for col in wbdi_df.columns]
wbdi_df.columns=wbdi_df.columns.str.strip()
wbdi_df.head(5)

,Country,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Access to electricity (% of population),..,..,..,..,..,..,..,..,...,68.0408782958984,89.5,71.5,97.7,97.7,93.4308776855469,97.7,97.7,97.7,..
1,Afghanistan,Average precipitation in depth (mm per year),327,327,327,327,327,327,327,327,...,327,327,327,327,327,327,327,327,..,..
2,Afghanistan,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841891,14.8313194,15.53361392,16.82606226,..
3,Afghanistan,"Current health expenditure per capita, PPP (cu...",..,..,..,..,..,..,..,..,...,178.07901916923,202.261555308607,215.725233301209,239.188747458965,264.543988949921,299.822543673828,321.525376737099,322.525614744969,..,..
4,Afghanistan,Domestic general government health expenditure...,..,..,..,..,..,..,..,..,...,0.44335932,0.47265697,0.52267277,0.60012972,0.64313394,0.55239552,0.49705607,1.18621242,0.55571794,..

In [6]:
# Open the list of country name corrections
corrections_df = pd.read_csv('../../Clean_Data/master_country_list/country_name_corrections.csv')

# Convert the corrections dataframe to a dictionary.
correction_dict = dict(zip(corrections_df['wrong'], corrections_df['correct']))

In [7]:
# Apply the correction dictionary to fix the known errors
wbdi_df['Country'] = wbdi_df['Country'].replace(correction_dict)

In [8]:
wbdi_df.head(5)

,Country,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Access to electricity (% of population),..,..,..,..,..,..,..,..,...,68.0408782958984,89.5,71.5,97.7,97.7,93.4308776855469,97.7,97.7,97.7,..
1,Afghanistan,Average precipitation in depth (mm per year),327,327,327,327,327,327,327,327,...,327,327,327,327,327,327,327,327,..,..
2,Afghanistan,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841891,14.8313194,15.53361392,16.82606226,..
3,Afghanistan,"Current health expenditure per capita, PPP (cu...",..,..,..,..,..,..,..,..,...,178.07901916923,202.261555308607,215.725233301209,239.188747458965,264.543988949921,299.822543673828,321.525376737099,322.525614744969,..,..
4,Afghanistan,Domestic general government health expenditure...,..,..,..,..,..,..,..,..,...,0.44335932,0.47265697,0.52267277,0.60012972,0.64313394,0.55239552,0.49705607,1.18621242,0.55571794,..

In [9]:
# Open the master list of countries
countries_df = pd.read_csv('../../Clean_Data/master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], axis=1)

In [10]:
master_countries = countries_df['country'].tolist()

In [11]:
# Create a list of wbdi countries
ps_countries = wbdi_df['Country'].tolist()

In [12]:
# clean the FS data based on the SS country list
no_match = []

for country in ps_countries:
    if country in master_countries:
        continue
    else:
        no_match.append(country)

In [13]:
wbdi_clean_df = wbdi_df.drop(wbdi_df[wbdi_df['Country'].isin(no_match)].index.tolist())
wbdi_clean_df.head(5)

,Country,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
15,Albania,Access to electricity (% of population),100,100,100,100,100,100,100,100,...,99.8903121948242,99.95,99.98,99.89,99.89,100,100,100,100,..
16,Albania,Average precipitation in depth (mm per year),1485,1485,1485,1485,1485,1485,1485,1485,...,1485,1485,1485,1485,1485,1485,1485,1485,..,..
17,Albania,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,6.27234411,6.44164276,6.48361206,6.66606188,6.54604626,6.65958786,..,..,..,..
18,Albania,"Current health expenditure per capita, PPP (cu...",..,..,..,..,..,..,..,..,...,664.902444642237,726.53974963245,755.452047153836,803.796389477951,834.280774470738,895.594815963717,..,..,..,..
19,Albania,Domestic general government health expenditure...,..,..,..,..,..,..,..,..,...,2.57775068,2.5936265,2.731354,2.80370712,2.6750803,2.82325125,2.86730385,2.93465567,..,..

In [14]:
# Open the list of series name update list
series_updates_df = pd.read_csv('../../Clean_Data/master_country_list/series_name_updates.csv')

# Convert the series_updates dataframe to a dictionary.
series_updates_dict = dict(zip(series_updates_df['current'], series_updates_df['updated']))

In [15]:
# Apply the series_updates dictionary to reduce verbosity
wbdi_clean_df['Series Name'] = wbdi_clean_df['Series Name'].replace(series_updates_dict)

In [16]:
# Get a list of the columns to convert to numeric
cols = wbdi_clean_df.columns.drop(['Country', 'Series Name'])

wbdi_clean_df[cols] = wbdi_clean_df[cols].apply(pd.to_numeric, errors='coerce')

In [17]:
wbdi_clean_df.head(5)

,Country,Series Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
15,Albania,Electricity Access (% Pop),100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,99.890312,99.950000,99.980000,99.890000,99.890000,100.000000,100.000000,100.000000,100.0,NaN
16,Albania,Avg. Rainfall (mm/yr),1485.0,1485.0,1485.0,1485.0,1485.0,1485.0,1485.0,1485.0,...,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,1485.000000,NaN,NaN
17,Albania,Current HE (% GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.272344,6.441643,6.483612,6.666062,6.546046,6.659588,NaN,NaN,NaN,NaN
18,Albania,Current HE per capita (PPP Int'l $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,664.902445,726.539750,755.452047,803.796389,834.280774,895.594816,NaN,NaN,NaN,NaN
19,Albania,Domestic general gov't HE (% GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.577751,2.593627,2.731354,2.803707,2.675080,2.823251,2.867304,2.934656,NaN,NaN

### Define functions to manage missing values

In [18]:
#----------------------------------------
# Create functions to easily repeat the processing on all the new DataFrames
#----------------------------------------
def complete_dataframe(df):
    # Define the range of years for the data
    years = list(range(1990, 2023))

    # Create a helper dataframe and merge with existing to ensure resulting df contains all countries and years
    helper_df = pd.DataFrame({'Country':np.repeat(master_countries, len(years)), 'Year':np.tile(years, len(master_countries))})
    
    # Merge the helper DataFrame with the original data to ensure the data range is complete.
    complete_df = pd.merge(helper_df, df, on=['Country','Year'], how='left')

    # Sort by 'Country' and 'Year'.
    complete_df = complete_df.sort_values(['Country','Year'], axis=0)

    return complete_df

#----------------------------------------

# Convert the DataFrame to enable handling of missing data
def pivot_convert_dataframe(df, series):
    # Convert to wide format
    wide_df = df.pivot(index='Year', columns='Country', values='Value')
    # Flatten the hierarchical columns and create 'Country_Series' style column names
    wide_df.columns = [f'{col}_{series}' for col in wide_df.columns]

    # Reset the index, so 'Year' becomes a column again
    wide_df.reset_index(inplace=True)

    return wide_df
#----------------------------------------

def missing_values(df):
    # Fill the missing values
    df = df.interpolate(method='linear', Limit_area='inside')
    df = df.bfill()
    df = df.ffill()
    df = df.fillna(0)
    return df
#----------------------------------------

def prepare_for_merging(df):
    # Rename the Country_Series column to "Year"
    df.rename(columns={"Country_Series": "Year"}, inplace=True)

    # Melt the DataFrame from Wide to Long format
    df = df.melt(id_vars='Year', var_name='Country_Series', value_name='Value')

    # Separate the Country from the Series Name
    df[['Country', 'Series']] = df['Country_Series'].str.rsplit(pat='_', n=1, expand=True)

    # Create a "country_year" column
    df['Country_Year'] = df['Country'] + '_' + df['Year'].astype(str)

    # Pivot the DataFrame to create tidy data
    df_final = df.pivot(index='Country_Year', columns='Series', values='Value')
    df_final.reset_index(inplace=True)

    return df_final

### Ensure the primary dataframe is in the correct format

In [19]:
# Collect all the series names
series_names = wbdi_clean_df['Series Name'].unique()

# Convert the original dataframe to long format
long_df = wbdi_clean_df.melt(id_vars=["Country", "Series Name"], 
                             value_vars=[str(i) for i in range(1990, 2023)], 
                             var_name="Year", 
                             value_name="Value")

long_df['Year'] = long_df['Year'].astype(int) # Convert Year column to integer

In [20]:
long_df

        Country                              Series Name  Year       Value
0       Albania               Electricity Access (% Pop)  1990       100.0
1       Albania                    Avg. Rainfall (mm/yr)  1990      1485.0
2       Albania                       Current HE (% GDP)  1990         NaN
3       Albania      Current HE per capita (PPP Int'l $)  1990         NaN
4       Albania        Domestic general gov't HE (% GDP)  1990         NaN
...         ...                                      ...   ...         ...
90580  Zimbabwe                                LEx years  2022         NaN
90581  Zimbabwe   Population Density (people per sq. km)  2022         NaN
90582  Zimbabwe                         Total Population  2022  16320537.0
90583  Zimbabwe                   Tobacco use (% adults)  2022         NaN
90584  Zimbabwe  Alcohol Consumption per capita (liters)  2022         NaN

[90585 rows x 4 columns]

### Separate the data to manage missing values

In [21]:
# Create a dictionary of the series
dataframes = {series_name: long_df[long_df['Series Name']==series_name] for series_name in series_names}

In [22]:
# Process each DataFrame
processed_dataframes = {}
for series_name, df in dataframes.items():
    # Apply processing functions
    df = complete_dataframe(df)
    df = pivot_convert_dataframe(df, series_name)
    df = missing_values(df)
    df = prepare_for_merging(df)
    
    # Add each processed DataFrame to the dictionary
    processed_dataframes[series_name] = df

# Processed_dataframes dictionary contains all the processed DataFrames
print(processed_dataframes)

{'Electricity Access (% Pop)': Series   Country_Year  Electricity Access (% Pop)
0        Albania_1990                  100.000000
1        Albania_1991                  100.000000
2        Albania_1992                  100.000000
3        Albania_1993                  100.000000
4        Albania_1994                  100.000000
...               ...                         ...
6100    Zimbabwe_2018                   45.400288
6101    Zimbabwe_2019                   46.682095
6102    Zimbabwe_2020                   52.747667
6103    Zimbabwe_2021                   48.979927
6104    Zimbabwe_2022                   48.979927

[6105 rows x 2 columns], 'Avg. Rainfall (mm/yr)': Series   Country_Year  Avg. Rainfall (mm/yr)
0        Albania_1990                 1485.0
1        Albania_1991                 1485.0
2        Albania_1992                 1485.0
3        Albania_1993                 1485.0
4        Albania_1994                 1485.0
...               ...                    ...
6100    Zimbabwe_2018                  657.0
6101    Zimbabwe_2019                  657.0
6102    Zimbabwe_2020                  657.0
6103    Zimbabwe_2021                  657.0
6104    Zimbabwe_2022                  657.0

[6105 rows x 2 columns], 'Current HE (% GDP)': Series   Country_Year  Current HE (% GDP)
0        Albania_1990            5.944186
1        Albania_1991            5.944186
2        Albania_1992            5.944186
3        Albania_1993            5.944186
4        Albania_1994            5.944186
...               ...                 ...
6100    Zimbabwe_2018            4.670418
6101    Zimbabwe_2019            3.659765
6102    Zimbabwe_2020            3.425581
6103    Zimbabwe_2021            3.425581
6104    Zimbabwe_2022            3.425581

[6105 rows x 2 columns], "Current HE per capita (PPP Int'l $)": Series   Country_Year  Current HE per capita (PPP Int'l $)
0        Albania_1990                           222.786533
1        Albania_1991                           222.786533
2        Albania_1992                           222.786533
3        Albania_1993                           222.786533
4        Albania_1994                           222.786533
...               ...                                  ...
6100    Zimbabwe_2018                           180.091128
6101    Zimbabwe_2019                           132.068691
6102    Zimbabwe_2020                           118.127063
6103    Zimbabwe_2021                           118.127063
6104    Zimbabwe_2022                           118.127063

[6105 rows x 2 columns], "Domestic general gov't HE (% GDP)": Series   Country_Year  Domestic general gov't HE (% GDP)
0        Albania_1990                           2.765835
1        Albania_1991                           2.765835
2        Albania_1992                           2.765835
3        Albania_1993                           2.765835
4        Albania_1994                           2.765835
...               ...                                ...
6100    Zimbabwe_2018                           1.594279
6101    Zimbabwe_2019                           0.522077
6102    Zimbabwe_2020                           0.756783
6103    Zimbabwe_2021                           0.756783
6104    Zimbabwe_2022                           0.756783

[6105 rows x 2 columns], "Domestic general gov't HE per capita (PPP Int'l $)": Series   Country_Year  Domestic general gov't HE per capita (PPP Int'l $)
0        Albania_1990                                         103.662764
1        Albania_1991                                         103.662764
2        Albania_1992                                         103.662764
3        Albania_1993                                         103.662764
4        Albania_1994                                         103.662764
...               ...                                                ...
6100    Zimbabwe_2018                                          61.475349
6101    Zimbabwe_2019                                          18.839995
6102    Zimbabwe_2020                                          26.096745
6103    Zimbabwe_2021                                          26.096745
6104    Zimbabwe_2022                                          26.096745

[6105 rows x 2 columns], "Domestic private HE per capita (PPP Int'l $)": Series   Country_Year  Domestic private HE per capita (PPP Int'l $)
0        Albania_1990                                    115.435286
1        Albania_1991                                    115.435286
2        Albania_1992                                    115.435286
3        Albania_1993                                    115.435286
4        Albania_1994                                    115.435286
...               ...                                           ...
6100    Zimbabwe_2018                                     64.993823
6101    Zimbabwe_2019                                     31.431890
6102    Zimbabwe_2020                                     26.263578
6103    Zimbabwe_2021                                     26.263578
6104    Zimbabwe_2022                                     26.263578

[6105 rows x 2 columns], 'GDP growth per capita %': Series   Country_Year  GDP growth per capita %
0        Albania_1990               -11.187905
1        Albania_1991               -27.566821
2        Albania_1992                -6.622551
3        Albania_1993                10.229949
4        Albania_1994                 8.969762
...               ...                      ...
6100    Zimbabwe_2018                 2.909395
6101    Zimbabwe_2019                -8.177320
6102    Zimbabwe_2020                -9.670405
6103    Zimbabwe_2021                 6.271613
6104    Zimbabwe_2022                 1.328184

[6105 rows x 2 columns], "GDP per capita (PPP Int'l $)": Series   Country_Year  GDP per capita (PPP Int'l $)
0        Albania_1990                   2549.746801
1        Albania_1991                   1909.319160
2        Albania_1992                   1823.503609
3        Albania_1993                   2057.692048
4        Albania_1994                   2290.143917
...               ...                           ...
6100    Zimbabwe_2018                   2457.309859
6101    Zimbabwe_2019                   2296.845429
6102    Zimbabwe_2020                   2101.804597
6103    Zimbabwe_2021                   2333.973632
6104    Zimbabwe_2022                   2530.645987

[6105 rows x 2 columns], 'Total Labor Force': Series   Country_Year  Total Labor Force
0        Albania_1990          1374478.0
1        Albania_1991          1429833.0
2        Albania_1992          1438342.0
3        Albania_1993          1413557.0
4        Albania_1994          1391914.0
...               ...                ...
6100    Zimbabwe_2018          5770226.0
6101    Zimbabwe_2019          5912685.0
6102    Zimbabwe_2020          6008633.0
6103    Zimbabwe_2021          6200666.0
6104    Zimbabwe_2022          6400551.0

[6105 rows x 2 columns], 'LEx years': Series   Country_Year  LEx years
0        Albania_1990     73.144
1        Albania_1991     73.378
2        Albania_1992     73.715
3        Albania_1993     73.939
4        Albania_1994     74.131
...               ...        ...
6100    Zimbabwe_2018     61.414
6101    Zimbabwe_2019     61.292
6102    Zimbabwe_2020     61.124
6103    Zimbabwe_2021     59.253
6104    Zimbabwe_2022     59.253

[6105 rows x 2 columns], 'Population Density (people per sq. km)': Series   Country_Year  Population Density (people per sq. km)
0        Albania_1990                              119.946788
1        Albania_1991                              119.225912
2        Albania_1992                              118.505073
3        Albania_1993                              117.784197
4        Albania_1994                              117.063358
...               ...                                     ...
6100    Zimbabwe_2018                               38.909614
6101    Zimbabwe_2019                               39.691374
6102    Zimbabwe_2020                               40.505793
6103    Zimbabwe_2021                               40.505793
6104    Zimbabwe_2022                               40.505793

[6105 rows x 2 columns], 'Total Population': Series   Country_Year  Total Population
0        Albania_1990         3286542.0
1        Albania_1991         3266790.0
2        Albania_1992         3247039.0
3        Albania_1993         3227287.0
4        Albania_1994         3207536.0
...               ...               ...
6100    Zimbabwe_2018        15052184.0
6101    Zimbabwe_2019        15354608.0
6102    Zimbabwe_2020        15669666.0
6103    Zimbabwe_2021        15993524.0
6104    Zimbabwe_2022        16320537.0

[6105 rows x 2 columns], 'Tobacco use (% adults)': Series   Country_Year  Tobacco use (% adults)
0        Albania_1990                    35.0
1        Albania_1991                    35.0
2        Albania_1992                    35.0
3        Albania_1993                    35.0
4        Albania_1994                    35.0
...               ...                     ...
6100    Zimbabwe_2018                    12.1
6101    Zimbabwe_2019                    12.1
6102    Zimbabwe_2020                    11.7
6103    Zimbabwe_2021                    11.7
6104    Zimbabwe_2022                    11.7

[6105 rows x 2 columns], 'Alcohol Consumption per capita (liters)': Series   Country_Year  Alcohol Consumption per capita (liters)
0        Albania_1990                                     6.57
1        Albania_1991                                     6.57
2        Albania_1992                                     6.57
3        Albania_1993                                     6.57
4        Albania_1994                                     6.57
...               ...                                      ...
6100    Zimbabwe_2018                                     4.67
6101    Zimbabwe_2019                                     4.67
6102    Zimbabwe_2020                                     4.67
6103    Zimbabwe_2021                                     4.67
6104    Zimbabwe_2022                                     4.67

[6105 rows x 2 columns]}

### Merge the processed dataframes

In [23]:
# 'Country_Year' is a common column in all dataframes
wbdi_complete_df = pd.DataFrame()
for df_name, df in processed_dataframes.items():
    if wbdi_complete_df.empty:
       wbdi_complete_df = df
    else:
       wbdi_complete_df = pd.merge(wbdi_complete_df, df, on='Country_Year', how='outer')

In [24]:
wbdi_complete_df.to_csv('../../Clean_Data/Clean_CSV_Files/world_bank_dev_indicators-1990_2022.csv', index=False)