In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
import polars as pl
import re

In [2]:
#  Import and read the input csv
wbHNP_df = pd.read_csv('../../Raw_Data/World_Bank-Extract_From_Health_Nutrition_and_Population_Statistics-1990_2022.csv')
wbHNP_df.head(5)

,Series Name,Series Code,Country,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Capital health expenditure (% of GDP),SH.XPD.KHEX.GD.ZS,Afghanistan,AFG,..,..,..,..,..,..,...,0.18895136,0.164755,0.21357547,..,0.28592768,0.36722939,0.31406657,0.41934217,0.41568576,..
1,Capital health expenditure (% of GDP),SH.XPD.KHEX.GD.ZS,Albania,ALB,..,..,..,..,..,..,...,0.14006858,0.14262114,0.13107376,0.14689514,0.14722906,0.16765136,..,..,..,..
2,Capital health expenditure (% of GDP),SH.XPD.KHEX.GD.ZS,Algeria,DZA,..,..,..,..,..,..,...,..,..,0.01103354,..,..,..,..,..,..,..
3,Capital health expenditure (% of GDP),SH.XPD.KHEX.GD.ZS,American Samoa,ASM,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Capital health expenditure (% of GDP),SH.XPD.KHEX.GD.ZS,Andorra,AND,..,..,..,..,..,..,...,0.04990563,0.07309079,0.11930761,0.14139073,0.10919669,0.06971787,0.10289453,..,..,..

In [3]:
# Drop the extra columns
wbHNP_df = wbHNP_df.drop(['Country Code','Series Code'], axis=1)
wbHNP_df.head(5)

,Series Name,Country,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Capital health expenditure (% of GDP),Afghanistan,..,..,..,..,..,..,..,..,...,0.18895136,0.164755,0.21357547,..,0.28592768,0.36722939,0.31406657,0.41934217,0.41568576,..
1,Capital health expenditure (% of GDP),Albania,..,..,..,..,..,..,..,..,...,0.14006858,0.14262114,0.13107376,0.14689514,0.14722906,0.16765136,..,..,..,..
2,Capital health expenditure (% of GDP),Algeria,..,..,..,..,..,..,..,..,...,..,..,0.01103354,..,..,..,..,..,..,..
3,Capital health expenditure (% of GDP),American Samoa,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Capital health expenditure (% of GDP),Andorra,..,..,..,..,..,..,..,..,...,0.04990563,0.07309079,0.11930761,0.14139073,0.10919669,0.06971787,0.10289453,..,..,..

In [4]:
pattern = r'\[.*\]'

# Remove the bracketed year info from the column names
wbHNP_df.columns=[re.sub(pattern,'',col)for col in wbHNP_df.columns]
wbHNP_df.columns=wbHNP_df.columns.str.strip()
wbHNP_df.head(5)

,Series Name,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Capital health expenditure (% of GDP),Afghanistan,..,..,..,..,..,..,..,..,...,0.18895136,0.164755,0.21357547,..,0.28592768,0.36722939,0.31406657,0.41934217,0.41568576,..
1,Capital health expenditure (% of GDP),Albania,..,..,..,..,..,..,..,..,...,0.14006858,0.14262114,0.13107376,0.14689514,0.14722906,0.16765136,..,..,..,..
2,Capital health expenditure (% of GDP),Algeria,..,..,..,..,..,..,..,..,...,..,..,0.01103354,..,..,..,..,..,..,..
3,Capital health expenditure (% of GDP),American Samoa,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Capital health expenditure (% of GDP),Andorra,..,..,..,..,..,..,..,..,...,0.04990563,0.07309079,0.11930761,0.14139073,0.10919669,0.06971787,0.10289453,..,..,..

In [5]:
# Open the list of country name corrections
corrections_df = pd.read_csv('../../Clean_Data/master_country_list/country_name_corrections.csv')

# Convert the corrections dataframe to a dictionary.
correction_dict = dict(zip(corrections_df['wrong'], corrections_df['correct']))

In [6]:
# Apply the correction dictionary to fix the known errors
wbHNP_df['Country'] = wbHNP_df['Country'].replace(correction_dict)

In [7]:
wbHNP_df.head(5)

,Series Name,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Capital health expenditure (% of GDP),Afghanistan,..,..,..,..,..,..,..,..,...,0.18895136,0.164755,0.21357547,..,0.28592768,0.36722939,0.31406657,0.41934217,0.41568576,..
1,Capital health expenditure (% of GDP),Albania,..,..,..,..,..,..,..,..,...,0.14006858,0.14262114,0.13107376,0.14689514,0.14722906,0.16765136,..,..,..,..
2,Capital health expenditure (% of GDP),Algeria,..,..,..,..,..,..,..,..,...,..,..,0.01103354,..,..,..,..,..,..,..
3,Capital health expenditure (% of GDP),American Samoa,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Capital health expenditure (% of GDP),Andorra,..,..,..,..,..,..,..,..,...,0.04990563,0.07309079,0.11930761,0.14139073,0.10919669,0.06971787,0.10289453,..,..,..

In [8]:
# Open the master list of countries
countries_df = pd.read_csv('../../Clean_Data/master_country_list/country_profile_urls.csv')
countries_df = countries_df.drop(['profile_url'], axis=1)

In [9]:
master_countries = countries_df['country'].tolist()

In [10]:
# Create a list of wbdi countries
ps_countries = wbHNP_df['Country'].tolist()

In [11]:
# clean the FS data based on the SS country list
no_match = []

for country in ps_countries:
    if country in master_countries:
        continue
    else:
        no_match.append(country)

In [12]:
wbHNP_clean_df = wbHNP_df.drop(wbHNP_df[wbHNP_df['Country'].isin(no_match)].index.tolist())
wbHNP_clean_df.head(5)

,Series Name,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Capital health expenditure (% of GDP),Albania,..,..,..,..,..,..,..,..,...,0.14006858,0.14262114,0.13107376,0.14689514,0.14722906,0.16765136,..,..,..,..
2,Capital health expenditure (% of GDP),Algeria,..,..,..,..,..,..,..,..,...,..,..,0.01103354,..,..,..,..,..,..,..
4,Capital health expenditure (% of GDP),Andorra,..,..,..,..,..,..,..,..,...,0.04990563,0.07309079,0.11930761,0.14139073,0.10919669,0.06971787,0.10289453,..,..,..
5,Capital health expenditure (% of GDP),Angola,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,Capital health expenditure (% of GDP),Antigua and Barbuda,..,..,..,..,..,..,..,..,...,..,..,0.04921389,0.14435445,0.00550222,0.02265624,0.02125437,0.00856461,..,..

In [13]:
# Open the list of series name update list
series_updates_df = pd.read_csv('../../Clean_Data/master_country_list/series_name_updates.csv')

# Convert the series_updates dataframe to a dictionary.
series_updates_dict = dict(zip(series_updates_df['current'], series_updates_df['updated']))

In [14]:
# Apply the series_updates dictionary to reduce verbosity
wbHNP_clean_df['Series Name'] = wbHNP_clean_df['Series Name'].replace(series_updates_dict)

In [15]:
# Get a list of the columns to convert to numeric
cols = wbHNP_clean_df.columns.drop(['Country', 'Series Name'])

wbHNP_clean_df[cols] = wbHNP_clean_df[cols].apply(pd.to_numeric, errors='coerce')

In [16]:
wbHNP_clean_df.head(5)

,Series Name,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Capital HE (% GDP),Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.140069,0.142621,0.131074,0.146895,0.147229,0.167651,NaN,NaN,NaN,NaN
2,Capital HE (% GDP),Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.011034,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Capital HE (% GDP),Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.049906,0.073091,0.119308,0.141391,0.109197,0.069718,0.102895,NaN,NaN,NaN
5,Capital HE (% GDP),Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Capital HE (% GDP),Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.049214,0.144354,0.005502,0.022656,0.021254,0.008565,NaN,NaN

### Manage missing values

In [17]:
#----------------------------------------
# Create functions to easily repeat the processing on all the new DataFrames
#----------------------------------------
def complete_dataframe(df):
    # Define the range of years for the data
    years = list(range(1990, 2023))

    # Create a helper dataframe and merge with existing to ensure resulting df contains all countries and years
    helper_df = pd.DataFrame({'Country':np.repeat(master_countries, len(years)), 'Year':np.tile(years, len(master_countries))})
    
    # Merge the helper DataFrame with the original data to ensure the data range is complete.
    complete_df = pd.merge(helper_df, df, on=['Country','Year'], how='left')

    # Sort by 'Country' and 'Year'.
    complete_df = complete_df.sort_values(['Country','Year'], axis=0)

    return complete_df

#----------------------------------------

# Convert the DataFrame to enable handling of missing data
def pivot_convert_dataframe(df, series):
    # Convert to wide format
    wide_df = df.pivot(index='Year', columns='Country', values='Value')
    # Flatten the hierarchical columns and create 'Country_Series' style column names
    wide_df.columns = [f'{col}_{series}' for col in wide_df.columns]

    # Reset the index, so 'Year' becomes a column again
    wide_df.reset_index(inplace=True)

    return wide_df
#----------------------------------------

def missing_values(df):
    # Fill the missing values
    df = df.interpolate(method='linear', Limit_area='inside')
    df = df.bfill()
    df = df.ffill()
    df = df.fillna(0)
    return df
#----------------------------------------

def prepare_for_merging(df):
    # Rename the Country_Series column to "Year"
    df.rename(columns={"Country_Series": "Year"}, inplace=True)

    # Melt the DataFrame from Wide to Long format
    df = df.melt(id_vars='Year', var_name='Country_Series', value_name='Value')

    # Separate the Country from the Series Name
    df[['Country', 'Series']] = df['Country_Series'].str.rsplit(pat='_', n=1, expand=True)

    # Create a "country_year" column
    df['Country_Year'] = df['Country'] + '_' + df['Year'].astype(str)

    # Pivot the DataFrame to create tidy data
    df_final = df.pivot(index='Country_Year', columns='Series', values='Value')
    df_final.reset_index(inplace=True)

    return df_final

### Ensure the primary dataframe is in the correct format

In [18]:
# Collect all the series names
series_names = wbHNP_clean_df['Series Name'].unique()

# Convert the original dataframe to long format
long_df = wbHNP_clean_df.melt(id_vars=["Country", "Series Name"], 
                             value_vars=[str(i) for i in range(1990, 2023)], 
                             var_name="Year", 
                             value_name="Value")

long_df['Year'] = long_df['Year'].astype(int) # Convert Year column to integer 
long_df

,Country,Series Name,Year,Value
0,Albania,Capital HE (% GDP),1990,NaN
1,Algeria,Capital HE (% GDP),1990,NaN
2,Andorra,Capital HE (% GDP),1990,NaN
3,Angola,Capital HE (% GDP),1990,NaN
4,Antigua and Barbuda,Capital HE (% GDP),1990,NaN
...,...,...,...,...
24151,Venezuela,Alcohol Consumption per capita (liters),2022,NaN
24152,Vietnam,Alcohol Consumption per capita (liters),2022,NaN
24153,Yemen,Alcohol Consumption per capita (liters),2022,NaN
24154,Zambia,Alcohol Consumption per capita (liters),2022,NaN
24155,Zimbabwe,Alcohol Consumption per capita (liters),2022,NaN

### Separate the data to manage missing values

In [19]:
# Create a dictionary of the series
dataframes = {series_name: long_df[long_df['Series Name']==series_name] for series_name in series_names}

In [20]:
# Process each DataFrame
processed_dataframes = {}
for series_name, df in dataframes.items():
    # Apply processing functions
    df = complete_dataframe(df)
    df = pivot_convert_dataframe(df, series_name)
    df = missing_values(df)
    df = prepare_for_merging(df)
    
    # Add each processed DataFrame to the dictionary
    processed_dataframes[series_name] = df

# Processed_dataframes dictionary contains all the processed DataFrames
print(processed_dataframes)

{'Capital HE (% GDP)': Series   Country_Year  Capital HE (% GDP)
0        Albania_1990            0.005188
1        Albania_1991            0.005188
2        Albania_1992            0.005188
3        Albania_1993            0.005188
4        Albania_1994            0.005188
...               ...                 ...
6100    Zimbabwe_2018            0.172716
6101    Zimbabwe_2019            1.526442
6102    Zimbabwe_2020            0.118737
6103    Zimbabwe_2021            0.118737
6104    Zimbabwe_2022            0.118737

[6105 rows x 2 columns], 'LEx years': Series   Country_Year  LEx years
0        Albania_1990     73.144
1        Albania_1991     73.378
2        Albania_1992     73.715
3        Albania_1993     73.939
4        Albania_1994     74.131
...               ...        ...
6100    Zimbabwe_2018     61.414
6101    Zimbabwe_2019     61.292
6102    Zimbabwe_2020     61.124
6103    Zimbabwe_2021     59.253
6104    Zimbabwe_2022     59.253

[6105 rows x 2 columns], 'Total Population': Series   Country_Year  Total Population
0        Albania_1990         3286542.0
1        Albania_1991         3266790.0
2        Albania_1992         3247039.0
3        Albania_1993         3227287.0
4        Albania_1994         3207536.0
...               ...               ...
6100    Zimbabwe_2018        15052184.0
6101    Zimbabwe_2019        15354608.0
6102    Zimbabwe_2020        15669666.0
6103    Zimbabwe_2021        15993524.0
6104    Zimbabwe_2022        16320537.0

[6105 rows x 2 columns], 'Alcohol Consumption per capita (liters)': Series   Country_Year  Alcohol Consumption per capita (liters)
0        Albania_1990                                     6.57
1        Albania_1991                                     6.57
2        Albania_1992                                     6.57
3        Albania_1993                                     6.57
4        Albania_1994                                     6.57
...               ...                                      ...
6100    Zimbabwe_2018                                     4.67
6101    Zimbabwe_2019                                     4.67
6102    Zimbabwe_2020                                     4.67
6103    Zimbabwe_2021                                     4.67
6104    Zimbabwe_2022                                     4.67

[6105 rows x 2 columns]}

### Merge the processed dataframes

In [21]:
# 'Country_Year' is a common column in all dataframes
df_final = pd.DataFrame()
for df_name, df in processed_dataframes.items():
    if df_final.empty:
       df_final = df
    else:
      df_final = pd.merge(df_final, df, on='Country_Year', how='outer')

In [22]:
# There is data overlap with WHO.  Drop the redundant data
df_final = df_final.drop(['Alcohol Consumption per capita (liters)','LEx years','Total Population'], axis=1)
df_final

Series   Country_Year  Capital HE (% GDP)
0        Albania_1990            0.005188
1        Albania_1991            0.005188
2        Albania_1992            0.005188
3        Albania_1993            0.005188
4        Albania_1994            0.005188
...               ...                 ...
6100    Zimbabwe_2018            0.172716
6101    Zimbabwe_2019            1.526442
6102    Zimbabwe_2020            0.118737
6103    Zimbabwe_2021            0.118737
6104    Zimbabwe_2022            0.118737

[6105 rows x 2 columns]

In [23]:
df_final.to_csv('../../Clean_Data/Clean_CSV_Files/World_Bank_Capital_HE-1990_2022.csv', index=False)